
<h1 class="title"> Currency Converter </h1>



<div class="lbl-title">
     <p>Libra</p>
     <p>Dólar</p>
     <p>Euro</p>
     <p>Yen</p>
</div>
<div class="cont">
     <input (click)="calcula($event)" title="GBP" id="btnLibra" type="button" class="btnConverter" value="£">
     <input (click)="calcula($event)" title="USD" id="btnDolar" type="button" class="btnConverter" value="$">
     <input (click)="calcula($event)" title="EUR" id="btnEuro" type="button" class="btnConverter" value="€">
     <input (click)="calcula($event)" title="JPY" id="btnYen" type="button" class="btnConverter" value="¥">
</div>
<div class="test">
     <p>{{valores[0] | currency }}</p>
     <p>{{valores[1] | currency }}</p>
     <p>{{valores[2] | currency }}</p>
     <p>{{valores[3] | currency }}</p>
</div><br>


<div class="form__group field">
     <input (keyup)="saveValue($event)" type="text" class="form__field" value="{{ resultReverse | currency }}"
          placeholder="Name" name="names" id='names' required />
     <label for="names" class="form__label">{{ initials }}</label>
</div><br>
<div class="form__group field">
     <input (keyup)="saveValueReverse($event)" type="text" class="form__field" value="{{ result | currency: 'R$' }}"
          placeholder="Name" name="name" id='name' required />
     <label for="name" class="form__label">BRL:</label>
</div>