.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #ffffff;
  margin-bottom: 5rem;
  height: 4.2rem;
}

.currency-option {
  justify-content: center;
  align-items: center;
  display: flex;
  color: black;
  font-weight: bolder;
  line-height: 0.8rem;
}

.currency-option img {
  /* width: 10%; */
  height: 3rem;
  margin-right: 0.8rem;
  cursor: pointer;
}

.currency-option img:hover {
  zoom: 1.2;
}