.container {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  background-color: #ffffff;
  margin-bottom: 5rem;
}

.currency-option {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bolder;
  line-height: 0.8rem;
}

.currency-option img {
  height: 3em;
  margin-right: 0.8rem;
  cursor: pointer;
}

.currency-option img:hover {
  zoom: 1.2;
}