.chart {
  width: 50%;
  height: 50%;
  margin: 2.5rem auto;
  background-color: white;
  border-radius: 0.3rem;
  padding: 1.5rem;
  border: 3px solid #000000;
}

@media only screen and (max-width: 850px) {
  .chart {
    width: 60%;
    height: auto;
  }
}

@media only screen and (max-width: 700px) {
  .chart {
    width: 70%;
    height: auto;
  }
}

@media only screen and (max-width: 550px) {
  .chart {
    display: none;
  }
}
