.container {
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container h2 {
  margin: 0 auto;
  color: #ffffff;
  margin-bottom: 1rem;
}

.form-group {
  position: relative;
  padding: 1rem 0;
  margin-top: 1rem;
  width: 20%;
  margin: auto;
}

.form-field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #ffffff;
  outline: 0;
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form-field::placeholder {
  color: transparent;
}

.form-field:placeholder-shown~.form-label {
  font-size: 1.3rem;
  cursor: text;
  top: 1rem;
}

.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form-field:focus {
  padding-bottom: 0.5rem;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #b37c34, #7e0505);
  border-image-slice: 1;
}

.form-field:focus~.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: white;
  font-weight: 700;
}

@media only screen and (max-width: 500px) {
  .container h2 {
    font-size: 1.5rem;
  }

  .form-group {
    position: relative;
    padding: 1rem 0;
    margin-top: 1rem;
    width: 30%;
    margin: auto;
  }
}
