<div class="container">
  <h2>Conversor de moedas</h2>
  <div class="form-group">
    <input (keyup)="saveValue($event)" type="text" class="form-field" value="{{ resultReverse | currency}}"
      placeholder="$" id='$' required />
    <label for="$" class="form-label">{{ initials }}</label>
  </div>
  <div class="form-group">
    <input (keyup)="saveValueReverse($event)" type="text" class="form-field" value="{{ result | currency}}"
      placeholder="BRL" id='BRL' required />
    <label for="BRL" class="form-label">BRL:</label>
  </div>
</div>
